<table id="page-header">
	<tr>
		<td>
			<button	
				*ngIf="gridView"
				(click)="toggleGridView(false)"
				type="button"
				class="btn btn-info btn-sm"
			>
				<svg class="bi bi-list-ul" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
				</svg>
				&nbsp;
				List View
				&nbsp;
			</button>
			<button
				*ngIf="!gridView"
				(click)="toggleGridView(true)"
				type="button"
				class="btn btn-info btn-sm"
			>
				<svg class="bi bi-grid-3x2-gap-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V4zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V4zM1 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V9zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V9zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V9z"/>
				</svg>
				&nbsp;
				Grid View
				&nbsp;
			</button>
		</td>
		<td>
			<h5>Customers List ({{customersList.length}})</h5>
		</td>
		<td>
			<button
				type="button"
				class="btn btn-info btn-sm"
				data-toggle="modal"
				data-target="#addCustomerModal"
			>Add Customer</button>	
		</td>
	</tr>
</table>

<!-- Grid View -->
<div style="padding: 10px 0 10px 0;" *ngIf="gridView">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let customer of customersList">
				<div class="cCard">
					<div class="label" style="grid-column: 1 / 3;">
						ID
					</div>
				
					<div class="label" style="grid-column: 3 / 7; ">
						Name
					</div>
				
					<div class="value" style="grid-column: 1 / 3;">
						{{customer.customerNumber}}
					</div>
				
					<div class="value" style="grid-column: 3 / 7; ">
						{{customer.customerName}}
					</div>
				
					<div class="label" style="grid-column: 1 / 4;">
						City
					</div>
				
					<div class="label" style="grid-column: 4 / 7;">
						Phone
					</div>
				
					<div class="value" style="grid-column: 1 / 4;">
						{{customer.city}}
					</div>			
				
					<div class="value" style="grid-column: 4 / 7;">
						{{customer.phone}}
					</div>
				
					<div class="label" style="grid-column: 1 / 4;">
						Country
					</div>
				
					<div class="label" style="grid-column: 4 / 7;">
						Credit Limit
					</div>
				
					<div class="value" style="grid-column: 1 / 4;">
						{{customer.country}}
					</div>
				
					<div class="value" style="grid-column: 4 / 7;">
						{{customer.creditLimit}}
					</div>
				
					<div class="gridActionButtons label" style="grid-column: 1 / 4;">
						<!-- <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editCustomerModal" (click)="editCustomer(customer)">
							Edit Customer
						</button> -->
						<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editCustomerModal" (click)="editCustomer(customer)">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
							  </svg>
							  &nbsp;
							  Edit
						</button>
					</div>
				
					<div class="gridActionButtons label" style="grid-column: 4 / 7;">
						<!-- <button type="button" class="btn btn-danger btn-sm" (click)="deleteThisCustomer(customer)">
							Delete Customer
						</button> -->
						<button type="button" class="btn btn-danger btn-sm" (click)="deleteThisCustomer(customer)">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
							</svg>
							&nbsp;
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</div>

<!-- List View -->
<div style="text-align: center; margin : 20px 40px;" *ngIf="!gridView">
	<table class="table table-hover">
		<tr class="table-warning" >
			<th style="position: sticky !important;">ID</th>
			<th style="position: sticky !important;">Name</th>
			<th style="position: sticky !important;">Company</th>
			<th style="position: sticky !important;">Phone</th>
			<th style="position: sticky !important;">Address</th>
			<th style="position: sticky !important;">Sales Rep</th>
			<th style="position: sticky !important;">Credit Limit</th>
		</tr>
		<tbody *ngFor="let customer of customersList; let indexOfelement=index;" style="position: relative;">
			<div class="tableModifyDiv">
				<button type="button" class="btn btn-danger btn-sm" (click)="deleteThisCustomer(customer)">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
						<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
					</svg>
				</button>
				&nbsp;
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editCustomerModal" (click)="editCustomer(customer)">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
						<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
					  </svg>
				</button>
			</div>
			<tr [ngClass]="{'table-secondary' : (indexOfelement%2==1), 'table-light' : (indexOfelement%2==0)}" class="shiftRight">
				<td>{{customer.customerNumber}}</td>
				<td>{{customer.contactFirstName}} {{customer.contactLastName}}</td>
				<td>{{customer.customerName}}</td>
				<td>{{customer.phone}}</td>
				<td>
					{{customer.addressLine1}},
					{{customer.addressLine2}},
					{{customer.city}}, {{customer.state}},
					{{customer.country}} - {{customer.zipCode}}
				</td>
				<td>{{customer.salesRepEmpNumber}}</td>
				<td class="lastCell">$ {{customer.creditLimit}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Edit Existing customer -->
<div class="modal fade" id="editCustomerModal">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Editing Customer</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form>
				<fieldset>
					<legend>Customer ID : {{editingCustomer.customerNumber}}</legend>

					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text"> First Name</span>
						</div>
						<input
							[(ngModel)]="editingCustomer.contactFirstName"

							name="contactFirstName"
							placeholder="First Name"

							type="text"
							class="form-control"
						/>
						<input
							[(ngModel)]="editingCustomer.contactLastName"
							
							name="contactLastName"
							placeholder="Last Name"
							
							type="text"
							class="form-control"
						/>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Company</span>
						</div>
						<input
							[(ngModel)]="editingCustomer.customerName"
							
							name="customerName"
							placeholder="Enter Company Name"
							
							type="text"
							class="form-control col-sm-9"
						/>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Address Line 1</span>
						</div>
						<input
							[(ngModel)]="editingCustomer.addressLine1"
							
							name="addressLine1"
							placeholder="Enter Address Line 1"
							
							type="text"
							class="form-control col-sm-9"
						/>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Address Line 2</span>
						</div>
						<input
							[(ngModel)]="editingCustomer.addressLine2"
							
							name="addressLine2"
							placeholder="Enter Address Line 2"
							
							type="text"
							class="form-control col-sm-9"
						/>
					</div>
					
					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text"> City & State</span>
						</div>
						<input
							[(ngModel)]="editingCustomer.city"

							name="city"
							placeholder="City"

							type="text"
							class="form-control"
						/>
						<input
							[(ngModel)]="editingCustomer.state"
							
							name="state"
							placeholder="State"
							
							type="text"
							class="form-control"
						/>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Phone</span>
						</div>
						<input
							[(ngModel)]="editingCustomer.phone"
							
							name="phone"
							placeholder="Enter Phone Number"
							
							type="text"
							class="form-control"
						/>
					</div>
					
					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Credit Limit</span>
						</div>
						<input
							[(ngModel)]="editingCustomer.creditLimit"
							
							name="creditLimit"
							placeholder="Enter Credit Limit"
							
							type="text"
							class="form-control"
						/>
						<div class="input-group-append">
							<span class="input-group-text col-sm-2">.00</span>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="submitEditedCustomer()">Save changes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
</div>

<!-- Add New customer -->
<div class="modal fade" id="addCustomerModal">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Add New Customer</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form>
				<fieldset>
					<legend>Customer ID : {{newCustomer.customerNumber}}</legend>
					
					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text"> First Name</span>
						</div>
						<input
							[(ngModel)]="newCustomer.contactFirstName"

							name="contactFirstName"
							placeholder="First Name"

							type="text"
							class="form-control"
						/>
						<input
							[(ngModel)]="newCustomer.contactLastName"
							
							name="contactLastName"
							placeholder="Last Name"
							
							type="text"
							class="form-control"
						/>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Company</span>
						</div>
						<input
							[(ngModel)]="newCustomer.customerName"
							
							name="customerName"
							placeholder="Enter Company Name"
							
							type="text"
							class="form-control col-sm-9"
						/>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Address Line 1</span>
						</div>
						<input
							[(ngModel)]="newCustomer.addressLine1"
							
							name="addressLine1"
							placeholder="Enter Address Line 1"
							
							type="text"
							class="form-control col-sm-9"
						/>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Address Line 2</span>
						</div>
						<input
							[(ngModel)]="newCustomer.addressLine2"
							
							name="addressLine2"
							placeholder="Enter Address Line 2"
							
							type="text"
							class="form-control col-sm-9"
						/>
					</div>
					
					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text"> City & State</span>
						</div>
						<input
							[(ngModel)]="newCustomer.city"

							name="city"
							placeholder="City"

							type="text"
							class="form-control"
						/>
						<input
							[(ngModel)]="newCustomer.state"
							
							name="state"
							placeholder="State"
							
							type="text"
							class="form-control"
						/>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Phone</span>
						</div>
						<input
							[(ngModel)]="newCustomer.phone"
							
							name="phone"
							placeholder="Enter Phone Number"
							
							type="text"
							class="form-control"
						/>
					</div>
					
					<div class="input-group mb-3">
						<div class="input-group-prepend col-sm-3">
							<span class="input-group-text">Credit Limit</span>
						</div>
						<input
							[(ngModel)]="newCustomer.creditLimit"
							
							name="creditLimit"
							placeholder="Enter Credit Limit"
							
							type="text"
							class="form-control"
						/>
						<div class="input-group-append">
							<span class="input-group-text col-sm-2">.00</span>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="addNewCustomer()" data-dismiss="modal">Add Customer</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
</div>