#page-header{
	width: 100vw !important;
	max-width: 100vw !important;
	text-align: center;
	position: sticky;
	top: 0;
	left: 0;
	
	background-color: #923cb5;
	background-image: linear-gradient(0, #923cb5 0%, #000000 50%, #000000 74%);

	box-shadow: 0 5px 10px #923cb5;

	z-index: 10000;
}
#page-header td{
	padding: 1rem 0.5rem;
}

.grid-list-button:hover{
	background-color: rgba(54, 17, 89, 0.85);
	transform: scale(1.15);
}

.cCard{
	width: 100%;
	padding:1rem;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 0.1rem;
	margin: 1.5rem;
	border: 3px solid #1d1d1d;
	border-radius: 10px 30px 10px 30px;
	color: white;
	transition: all 150ms ease-in;
	position: relative;
	overflow: hidden;
}
.cCard::before{
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	z-index: -1;
	position: absolute;
	background: #2A9FD6;
	opacity: 0.1;
	box-shadow: 5px 0 7px #2A9FD6;
	border-radius: 0 50px 80px 0;
	border-radius: 0;
}
.gridActionButtons{
	visibility: hidden !important;
	transition: all 150ms ease;
}

.cCard:hover{
	transform: scale(1.05);
	border: 3px solid #2A9FD6;
}

.cCard:hover .gridActionButtons{
	visibility: visible !important;
}

.label, .value{
	display: block;
	text-align: center;
}

.label{
	color: #828d9e;
	font-size: 8px;
	padding:5px;
	margin-top: 20px;
}

.value{
	font-size: 15px;
	padding: 5px;
	box-shadow: 0 4px 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

td, th{
	text-shadow: 0 0 5px black;
	cursor: default;
}

.input-group{
	box-shadow: 0 0 5px #828d9e;
}
table{
	overflow-x: hidden !important;
}

.tableModifyDiv{
	position: absolute;
	padding-top: 0.5rem;
	z-index: -1;
}

tbody:hover .tableModifyDiv{
	z-index: 0;
}
.lastCell{
	transition: all 100ms ease-in;
}
tbody:hover td.lastCell{
	display: none;
}

.shiftRight{
	transition: all 100ms ease-in;
	z-index: -1;
}

tbody:hover .shiftRight{
	z-index: -1;
	transform: translateX(5rem);
}

